* {
    padding-bottom: .5em;
    font-family: 'Segoe UI', Verdana, Tahoma, Geneva;
}


h4, 
.col-md-4,
.col-md-12 > p,
.row > a,
.col-md-6 {
    display: flex;
    justify-content: center;
    font-weight: bolder;
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20em;
    padding: 0 15em;
    border: 2px solid #165B98;
}

h1 {
    border-bottom: 2px solid #165B98;
}

form {
    padding-top: 10px;
    background-color: #165B98;
}